<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.applicationHost">
            <section name="applicationPools"/>
            <section name="sites"/>
        </sectionGroup>
        <sectionGroup name="system.webServer">
            <section name="globalModules"/>
            <section name="handlers"/>
			<section name="caching"/>
            <section name="modules"/>
			<!-- The following section elements are not specified in this file, but without these
			     declarations, IIS will 500 requests -->
            <sectionGroup name="security">
                <section name="isapiCgiRestriction"/>
                <section name="access"/>
                <sectionGroup name="authentication">
                    <section name="anonymousAuthentication"/>
                </sectionGroup>
            </sectionGroup>
            <section name="serverRuntime"/>
        </sectionGroup>
    </configSections>
    <system.applicationHost>
        <applicationPools>
            <add name="UnmanagedClassicAppPool" managedRuntimeVersion="" managedPipelineMode="Classic" autoStart="true" />
        </applicationPools>
        <sites>
			<site name="Default Web Site" id="1" serverAutoStart="true">
				<application path="/" applicationPool="UnmanagedClassicAppPool">
					<virtualDirectory path="/" physicalPath="%IIS_USER_HOME%\blog" />
				</application>
				<bindings>
					<binding protocol="http" bindingInformation=":8080:localhost" />
				</bindings>
			</site>
		</sites>
    </system.applicationHost>
    <system.webServer>
        <!--By default, the ISAPI module won't load anything. The directive below permits any DLL
            to be run by IIS. In a real enviornment, you would list the specific DLLs that are allowed. -->
        <security>
            <isapiCgiRestriction notListedIsapisAllowed="true"/>
        </security>
        <globalModules>
            <add name="AnonymousAuthenticationModule" image="%IIS_BIN%\authanon.dll" />
            <add name="IsapiModule" image="%IIS_BIN%\isapi.dll" />
        </globalModules>
		<modules>
			<add name="AnonymousAuthenticationModule"/>
            <add name="IsapiModule"/>
		</modules>
		<handlers accessPolicy="Read, Execute">
            <!-- The source for a minimal ISAPI extension can be found in the Windows 7 SDK sample repo:
                 https://github.com/Microsoft/Windows-classic-samples/tree/master/Samples/Win7Samples/web/iis/extensions/simple -->
			<add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
		</handlers>
	</system.webServer>
</configuration>
