<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- configSections specify how application configuration can be delegated to different
         files other users have access to. IIS won't parse a setting without its section element. -->
    <configSections>
        <sectionGroup name="system.applicationHost">
            <section name="applicationPools"/>
            <section name="sites"/>
        </sectionGroup>
        <sectionGroup name="system.webServer">
            <section name="globalModules"/>
            <section name="handlers"/>
            <section name="modules"/>
            <section name="staticContent"/>
            <!-- The following section elements are not specified in this file, but without these
                 declarations, IIS will 500 requests -->
            <sectionGroup name="security">
                <section name="access"/>
                <sectionGroup name="authentication">
                    <section name="anonymousAuthentication"/>
                </sectionGroup>
            </sectionGroup>
            <section name="serverRuntime"/>
        </sectionGroup>
    </configSections>
    <!-- Defines applications and the worker pools on which they run. -->
    <system.applicationHost>
        <!-- IIS requires at least one application pool -->
        <applicationPools>
            <add name="DefaultAppPool"/>
        </applicationPools>
        <sites>
            <!-- This specifies an HTTP blog of only HTML files in the user's IIS home directoy to be served on localhost:8080 -->
            <site name="Default Web Site" id="1">
                <application path="/" applicationPool="DefaultAppPool">
                    <virtualDirectory path="/" physicalPath="%IIS_USER_HOME%\blog" />
                </application>
                <bindings>
                    <binding protocol="http" bindingInformation=":8080:localhost" />
                </bindings>
            </site>
        </sites>
    </system.applicationHost>
    <system.webServer>
        <!-- Most of the interesting stuff in IIS is done in DLL modules that are configured to be loaded at run time.
             These modules are specified in these two elements, which are both required. -->
        <globalModules>
            <add name="StaticFileModule" image="%IIS_BIN%\static.dll" />
            <!-- Without this module, IIS will return 401 errors to clients. -->
            <add name="AnonymousAuthenticationModule" image="%IIS_BIN%\authanon.dll" />
        </globalModules>
        <modules>
            <add name="StaticFileModule"/>
            <add name="AnonymousAuthenticationModule"/>
        </modules>
        <!-- static.dll requires MIME type mappings to serve content -->
        <staticContent>
            <mimeMap fileExtension=".html" mimeType="text/html" />
        </staticContent>
        <!-- IIS does not do any default mapping of paths to handler libraries, so this must be specified. -->
        <handlers>
            <!-- Name, path, and verb are required, and modules and requireAccess have defaults that aren't suitable here. -->
            <add name="StaticFile" path="*" verb="GET" modules="StaticFileModule" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>
