<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.applicationHost">
            <section name="applicationPools"/>
            <section name="sites"/>
        </sectionGroup>
        <sectionGroup name="system.webServer">
            <section name="globalModules"/>
            <section name="handlers"/>
            <section name="modules"/>
			<!-- The following section elements are not specified in this file, but without these
			     declarations, IIS will 500 requests -->
            <sectionGroup name="security">
                <section name="access"/>
                <sectionGroup name="authentication">
                    <section name="anonymousAuthentication"/>
                </sectionGroup>
            </sectionGroup>
            <section name="serverRuntime"/>
        </sectionGroup>
    </configSections>
    <system.applicationHost>
        <applicationPools>
            <add name="DefaultAppPool" startMode="AlwaysRunning" managedRuntimeVersion="v4.0"/>
        </applicationPools>
        <sites>
			<site name="Default Web Site" id="1" serverAutoStart="true">
				<application path="/" applicationPool="DefaultAppPool">
					<virtualDirectory path="/" physicalPath="%IIS_USER_HOME%\blog" />
				</application>
				<bindings>
					<binding protocol="http" bindingInformation=":8080:localhost" />
				</bindings>
			</site>
		</sites>
    </system.applicationHost>
    <system.webServer>
        <globalModules>
            <add name="AnonymousAuthenticationModule" image="%IIS_BIN%\authanon.dll" />
            <!--Even though this module isn't used in the handler, it is required. Otherwise, IIS will return 404.4.
                There are four flavors of this module: 2nd generation (v2-3.5) or 3rd generation (v4+) in 32-bit or 64-bit-->
            <add name="ManagedEngineV4.0_64bit" image="%windir%\Microsoft.NET\Framework64\v4.0.30319\webengine4.dll"/>
        </globalModules>
		<modules>
			<add name="AnonymousAuthenticationModule"/>
		</modules>
        <!-- The Execute policy is not specified by default, but it is required for managed handlers-->
		<handlers accessPolicy="Execute">
            <!--Instead of specifying the name of a handler module, specify the type name that implements IHttpHandler.
                The assembly containing this type should be in the bin directory under the physical path for the
                application and site specified above.
                The implementation of this handler can be found at https://msdn.microsoft.com/en-us/library/ms228090.aspx-->
            <add name="HelloWorldHandler" path="*.html" verb="GET" type="HelloWorldHandler"/>
		</handlers>
	</system.webServer>
</configuration>
